@model IEnumerable<API.Models.Credito>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CRE_COD_MONEDA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRE_BANCO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRE_PLAZO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRE_INICIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRE_MONTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRE_INGRESOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Identificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CRE_COD_MONEDA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRE_BANCO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRE_PLAZO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRE_INICIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRE_MONTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CRE_INGRESOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Identificacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CRE_CODIGO }) |
            @Html.ActionLink("Details", "Details", new { id=item.CRE_CODIGO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CRE_CODIGO })
        </td>
    </tr>
}

</table>
